# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
# /coverage (uncomment if you add test coverage)
# Kubernetes - keep real configs private
k8s/
# Next.js
/.next/
/out/

# Misc
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts



# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
