apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: website-project
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/yourusername/your-repo.git
    targetRevision: main
    path: k8s
    directory:
      recurse: false
      include: '{deployment.yaml,service.yaml,ingress.yaml}'
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
    - CreateNamespace=false

